h1{
    color:brown
}
h2{
    color:blue
}

body{
background-color:rgb(128, 128,128) ;
} 
.header{
background-color: cyan;
display:flex;
justify-content: space-between

}
.grid{
background-color: rgb(128, 128,128);
}
.item{
background-color: pink;
}  

 
 




